[submodule "vendor/plugins/redmine_sprints"]
	path = vendor/plugins/redmine_sprints
	url = git://gitorious.intranet.geocontrol.com.br/sistemas-externos/redmine_sprints.git
[submodule "vendor/plugins/attachment_fu"]
	path = vendor/plugins/attachment_fu
	url = git://github.com/technoweenie/attachment_fu.git
[submodule "vendor/plugins/redmine_time_tracker"]
	path = vendor/plugins/redmine_time_tracker
	url = git://github.com/delaitre/redmine_time_tracker.git
[submodule "vendor/plugins/redmine_todos_plugin"]
	path = vendor/plugins/redmine_todos_plugin
	url = git://github.com/dalyons/redmine-todos-scrum-plugin.git
